<label class="field">
  <span data-editor-i18n="name">Name</span>
  <input id="apiName" class="text-input">
</label>
<label class="field">
  <span data-editor-i18n="url">URL</span>
  <input id="apiUrl" class="text-input">
</label>
<label class="field">
  <span data-editor-i18n="type">Type</span>
  <select id="apiType" class="select-input">
    <option value="text">text</option>
    <option value="image">image</option>
    <option value="video">video</option>
    <option value="audio">audio</option>
  </select>
</label>
<div class="field field-wide">
  <span data-editor-i18n="parse" data-add-action="list" data-add-target="apiParseList" role="button" tabindex="0">Parse</span>
  <div class="field-value">
    <div id="apiParseList" class="collection-box"></div>
  </div>
</div>
<label class="field">
  <span data-editor-i18n="cron">Cron</span>
  <input id="apiCron" class="text-input" data-editor-i18n-placeholder="cron_placeholder">
</label>
<div class="field">
  <span data-editor-i18n="scope" data-add-action="list" data-add-target="apiScopeList" role="button" tabindex="0">Scope</span>
  <div class="field-value">
    <div id="apiScopeList" class="collection-box"></div>
  </div>
</div>
<div class="field field-wide">
  <span data-editor-i18n="keywords" data-add-action="list" data-add-target="apiKeywordsList" role="button" tabindex="0">Keywords</span>
  <div class="field-value">
    <div id="apiKeywordsList" class="collection-box"></div>
  </div>
</div>
<div class="field field-wide">
  <span data-editor-i18n="params" data-add-action="pair" data-add-target="apiParams" role="button" tabindex="0">Params</span>
  <div class="field-value">
    <div id="apiParams" class="collection-box"></div>
  </div>
</div>
